%h2 Books

%h4 My 5 favorite books
%ul
    %li The Trial
    %li Alice's Adventures in Wonderland
    %li Ficciones
    %li Infinite Jest
    %li One Flew Over the Cuckoo's Nest

%p Below a list of non-technical books I've read since I started keeping track in 2010, mostly in reverse chronological order of when I finished them.

-# I need to move this to a DB

%h4 2012
%ol
    %li Cryptonomican
    %li The Importance of Being Earnest
    %li The Confusion
    %li The Diamond Age
    %li Pillars of the Earth
    %li Forged: Writing in the Name of God
    %li George Washington: A Life

%h4 2011
%ol
    %li Steve Jobs
    %li Beyond Religion
    %li Kafka on the Shore
    %li Odalisque
    %li King of the Vagabonds
    %li Patriot Games
    %li Reamde
    %li God Emperor of Dune
    %li Children of Dune
    %li iWoz
    %li The Blind Watchmaker
    %li Revelation Space
    %li The Pale King
    %li Hitch 22
    %li Bossypants
    %li The Spy Who Came in from the Cold
    %li Evolutionary Void
    %li Temperoral Void
    %li Dreaming Void
    %li The Greatest Show on Earth
    %li God is Not Great
    %li Mere Christianity
    %li The End of Faith
    %li Selfish Gene
    %li Life (Richards)
    %li The Once And Future King
    %li Judas Unchained
    %li Pandora's Star
    %li The Hunger Games
    %li The Forever War
    %li The Girl Who Kicked the Hornet's Nest

%h4 2010
%ol 
    %li Girl who Played with Fire
    %li Decision Points
    %li Girl with the Dragon Tattoo
    %li The Hunt for Red October
    %li Dune: Messiah
    %li Quicksilver		
    %li Dune
    %li A Conferdacy of Dunces
    %li The Stand
    %li Second Foundation
    %li Infinite Jest
    %li Life of Pi
    %li Fall of Hyperion
    %li Hyperion
    %li The Moon is a Harsh Mistress 
    %li A Random Walk Down Wallstreet
    %li Food Rules
    %li The Return of the King
    %li The Two Towers
    %li Fellowship of the Ring
    %li 9/11 Commission Report
    %li Starship Troopers
    %li Smart and Gets Things Done
    %li Foundation and Empire
    %li Rework 
    %li Harry Potter and the Deathly Hallows 
    %li The Dark Tower: The Gunslinger 
    %li A Short History of Nearly Everything 
    %li Superfreakanomics
    %li Miracle in the Andes: 72 Days on the Mountain and My Long Trek Home
    %li Surely You're Joking Mr. Feynman
    %li Foundation
    %li The Omnivore's Dilemma
    %li Anathem
