<h2>Research</h2>

<p><%= link_to "Integrating Long Polling with an MVC Web Framework", "/pdf/long-poll.pdf" %></p>
<p><%= link_to "Managing State for Ajax-Driven Web Components ", "/pdf/fiz-ajax.pdf" %></p>
<p><%= link_to "The Case For Ramcloud", "/pdf/case-for-ramclouds.pdf" %></p>
<p><%= link_to "The Case for RAMClouds: Scalable High-Performance Storage Entirely in DRAM ", "/pdf/ramcloud-whitepaper.pdf" %></p>
