/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@mixin rounded($radius: 10px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}


body {
    background-color: #EFF;
}

h2 {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #AAA;
}

.main {
    padding-top: 10%;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content {
    @include rounded;
    margin: 4% 1%;
    padding: 5%;
    border-width:1px;
    box-shadow: 0.2em 0.2em 0.2em #666;
    opacity: 0.9;
}

#content:hover {
    background-color:rgba(255,255,255,0.4);
}

li {
    list-style-type: none;
}
