/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/


body {
    background-image: url("/assets/stripes.png")
}

h1 { 
    text-align: center;
}

h2 {
    border-bottom: solid;
    border-bottom-width: 1px;
}

#top {
    box-shadow: 0.2em 0.2em 0.5em #666;
    margin: 0% 5% 0% 5%;
    background-color:rgba(255,255,255,0)
}

#sidebar {
    margin: 10%;
    padding: 5%;
    background-color:rgba(255,255,255,0)
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 1em 1em 0.5em #666;
}

#sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content {
    margin: 4% 1%;
    padding: 5%;
    border-width:1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 1em 1em 0.5em #666;
    opacity: 0.9;
    background-color:rgba(255,255,255,0)
}

#sidebar:hover, #content:hover {
    background-color:rgba(255,255,255,0.4)
}

.links {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

li {
    list-style-type: none;
}

.links li {
    padding: 3%;
    margin: 3% 25% 3% 25%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #DDD;
}

#links li:hover {
    background: #BBB;
}
