body {
    background: #EEEEEE;
}

#sidebar {
    height: 700px;
    background: #DDD;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#sidebar img {
    padding-top: 1cm;
}

#content {
    margin-top: 0.5in;
    margin-left:1.5in;
    margin-right:1.5in;
    padding: 1cm;
    border:solid;
    border-width:1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#links {
    list-style-type: none;
}

#links li {
    padding: 0.3em;
}
