@mixin rounded($radius: 10px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}


body {
    background-color: #EFF;
}

h2 {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #AAA;
}

.main {
    padding-top: 10%;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content {
    @include rounded;
    margin: 4% 1%;
    padding: 5%;
    border-width:1px;
    box-shadow: 0.2em 0.2em 0.2em #666;
    opacity: 0.9;
}

#content:hover {
    background-color:rgba(255,255,255,0.4);
}

li {
    list-style-type: none;
}
